body{
	background-image: linear-gradient(rgba(0,0,0,-0.7),rgba(0,0,0,-0.7)), url('3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
	text-shadow: white;
	}